img {
    margin: 0 auto;
}

.slide::before {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 65px;
    bottom: 0;
    left: 0;
}

.mobile, .desktop {
    margin: 0 auto;
    max-width: 100%;
}

.carousel-control  {
    display: none;
}

.carousel-indicators {
    display: none;
}

@media(min-width: 700px) {
    .mobile {
      display: none;
    }
  }

  @media(max-width: 700px) {
    .desktop {
      display: none;
    }
    .carousel .slide .legend {
      color: black !important;
      border-radius: 0 !important;
      margin-left: -21% !important;
      width: 40% !important;
      bottom: 18% !important;
      background: white !important;
      border: 1px solid black;
    }

    .NavBar_navigation {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 2rem;
      
  }


  }

  .carouselContainer {
      z-index: 5 !important;
  }




  .slide {
      max-width: 100%;
      height: 960px;
  }

  

