$main-bg: #dfe6e9;
$purple: #5D9CEC;
$deep-purple: darken(#5D9CEC, 10%);
$light-green: #55efc4;

// Basic Styling
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: white;
}
ul {
	margin: 0;
	padding: 1em;
	li {
		list-style: none;
		a {
			padding: 1em;
			color: white;
			text-decoration: none;
			-webkit-transition: background-color .5s;
			-o-transition: background-color .5s;
			transition: background-color .5s, color .5s;
			&:hover {
				background-color: white;
				color: white;
			}
			.contact {
				border: 1px solid white;
			}
		}
	}
}

.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: white;;
	color: white;
	.slam-left {
		margin-right: auto;
	}
}

@media all and (max-width: 500px) {
	ul {
		padding: 0;
		li {
			width: 100%;
			a {
				display: block;
				text-align: center;
			}
		}
	}
	.nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		.slam-left {
			margin-right: 0;
		}
	}
}