img {
    margin: 0 auto;
}


.carousel.slide::before {
    display: none;
}


@media screen and (max-width: 767px) {
  
    .desktop {
        display: none;
    }

  }

.container {
    padding-left: 110px;
    padding-top: 180px;
}

.desktop-bttn {
    color: black;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 0 !important;
}

.desktop-bttn:hover {
    color: #cd2771;
    font-size: 18px;
    text-decoration: none;
    border-radius: 0!important;
    border-color: #cd2771 !important;
}